

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav="matSidenav" mode="side" opened>
    <div class="logo-dasboard">
      <img class="logo-clinica" src="assets/images/logo_p.png" alt="Clínica CES">
    </div>
  
    <!-- Menu Lateral -->
    <mat-divider></mat-divider>    
    <a mat-button class="menu-button" [routerLink]="['home']" routerLinkActive="active">
      <mat-icon>home</mat-icon> 
      <span>Inicio</span>
    </a>
    <mat-divider></mat-divider>
    <br>


<!-- 
    <div *ngFor="let modulo of modulos">
      <ng-container *ngIf="modulo.parametro">
        <a mat-button class="menu-button" [routerLink]="[modulo.ruta, modulo.parametro]" routerLinkActive="active">
          <mat-icon>{{modulo.icono}}</mat-icon>
          <span>{{modulo.nombre}}</span>
        </a>
      </ng-container>
    
      <ng-container *ngIf="!modulo.parametro">
        <a mat-button class="menu-button" [routerLink]="[modulo.ruta]" routerLinkActive="active">
          <mat-icon>{{modulo.icono}}</mat-icon>
          <span>{{modulo.nombre}}</span>
        </a>
      </ng-container>
    
      <mat-divider></mat-divider>
    </div> -->


    <!-- ================ -->
    <ng-container *ngIf="ifAdmin">
      <button  mat-button class="menu-button" (click)="toggleBotones(1)">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Administración</span>
      </button>
      <ng-container *ngIf="mostrarA">
      <div *ngFor="let mAdmin of mAdministrador">
          <a mat-button class="menu-button sub-menu" [routerLink]="[mAdmin.ruta]" routerLinkActive="active">
            <mat-icon>{{mAdmin.icono}}</mat-icon>
            <span>{{mAdmin.nombre}}</span>
          </a>
      
        <mat-divider></mat-divider>
      </div>
    </ng-container>
    </ng-container>

    <mat-divider></mat-divider>

    <ng-container *ngIf="ifForm">
      <button  mat-button class="menu-button" (click)="toggleBotones(2)">
        <mat-icon>document_scanner</mat-icon>
        <span>Analizar Formularios</span>
      </button>
      <ng-container *ngIf="mostrarF">
      <div *ngFor="let mForm of mFormularios">
        <ng-container *ngIf="mForm.parametro">
        
          <a mat-button class="menu-button sub-menu" [routerLink]="[mForm.ruta, mForm.parametro]" routerLinkActive="active">
            <mat-icon>{{mForm.icono}}</mat-icon>
            <span>{{mForm.nombre}}</span>
          </a>
        </ng-container>
      
        <ng-container *ngIf="!mForm.parametro">          
          <a mat-button class="menu-button sub-menu" [routerLink]="[mForm.ruta]" routerLinkActive="active">
            <mat-icon>{{mForm.icono}}</mat-icon>
            <span>{{mForm.nombre}}</span>
          </a>
        </ng-container>
      
        <mat-divider></mat-divider>
      </div>
    </ng-container>
    </ng-container>
<mat-divider></mat-divider>

<ng-container *ngIf="mPdf">
      <a mat-button class="menu-button" [routerLink]="[mPdf.ruta]" routerLinkActive="active">
        <mat-icon>{{mPdf.icono}}</mat-icon>
        <span>{{mPdf.nombre}}</span>
      </a>
</ng-container>

<mat-divider></mat-divider>


  </mat-sidenav>
  
  
  
  <mat-sidenav-content>

    <!-- Inicio toolbar -->
    <mat-toolbar color="primary">
      <button *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()" 
      mat-icon-button 
      class="example-icon" 
      aria-label="icon-button with menu icon">
        <mat-icon >menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>
    <!--   <span>My App</span> -->
      <span class="example-spacer"></span>


      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [matMenuTriggerFor]="menu">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item>Perfil</button> -->
        <button mat-menu-item 
        (click)="salir()"
        >Salir</button>
      </mat-menu>




     <!--  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
  
      </button> -->
    </mat-toolbar>  
    <!-- Fin toolbar -->

    <!-- Contenedor principal -->
<div class="container mt-3">
  <mat-card>
   <!--  <mat-card-header><mat-card-title>Bienvenido</mat-card-title></mat-card-header> -->
    <mat-card-content>
      <router-outlet></router-outlet>
      
    </mat-card-content>
  </mat-card>
  

</div>

  </mat-sidenav-content>
</mat-sidenav-container>
